html {
  min-height: 100%;
  box-sizing: border-box;
}

body {
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
}

.background-neutro {
  background-color: #fafafa;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-none {
  text-transform: none !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

label {
  padding-bottom: 0px !important;
  font-weight: bolder;
  line-height: 20px !important;
}

.label-text {
  vertical-align: middle;
  font-size: 14px;
  color: #606266;
  line-height: 20px;
  box-sizing: border-box;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.border-none {
  border: none !important;
}

.el-divider--horizontal {
  margin: 0px !important;
}

// upload image
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}

.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 128px;
  height: 128px;
  line-height: 128px !important;
  text-align: center;
}

.avatar {
  width: 128px;
  height: 128px;
  display: block;
}

.upload-demo .el-upload-dragger {
  width: 100%;
  height: 100%;
}

.el-upload-dragger .el-upload__text {
  line-height: 20px;
}

.upload-file {
  .el-form-item__content {
    line-height: 0px !important;
  }
}

.content-center {
  display: flex;
  justify-content: center;
}

.el-select {
  width: 100% !important;
}

.el-slider__marks {
  div:nth-child(2) {
    width: 55px;
    text-align: right;
  }
}

.fas {
  font-size: 18px !important;
  margin-right: 5px;
  width: 24px;
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
}

//el menu item
.el-submenu .el-menu-item {
  padding-left: 3.3rem !important;
}

.el-dialog__body {
  padding-bottom: 20px !important;
  padding-top: 20px !important;
}

.el-dialog__header,
.el-message-box__header {
  padding-bottom: 15px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-top: 15px !important;
  border-bottom: 1px solid #EBEEF5;
  font-weight: bold;
}

.el-dialog__footer {
  border-top: 1px solid #EBEEF5;
  padding: 10px 10px !important;
}

.el-message-box--center {
  padding-bottom: 10px !important;
}

.el-message-box__content {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

.el-message-box__message {
  padding-bottom: 0.7rem;
  padding-top: 0.7rem;
}

.el-select .el-input.is-disabled .el-input__inner,
.el-input.is-disabled .el-input__inner,
.el-textarea.is-disabled .el-textarea__inner {
  border: 1px dotted #b3b3b3 !important;
  background-color: transparent !important;
  cursor: default !important;
  color: #b3b3b3 !important;
  user-select: none;
}

.el-input.is-disabled .el-input__icon,
.el-pagination button:disabled,
.el-switch.is-disabled .el-switch__core {
  cursor: default !important;
}

.el-switch__label.is-active {
  font-weight: bold;
}

// el popover
.el-popover {
  width: 400px !important;
}

.text-nowrap {
  width: 160px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// image 
.image-report {
  display: flex;
  margin-bottom: 1rem;
}

.demo-image__error {
  height: 100%;

  .image-slot {
    font-size: 30px;
  }
}

.demo-image__error .image-slot,
.demo-image__placeholder .image-slot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #f5f7fa;
  color: #909399;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

p,
.p {
  font-size: 14px;
  color: #606266; // #5e6d82;
  line-height: 1.5em;
}

.br {
  border-right: 1px solid #EBEEF5;
}

.bt {
  border-top: 1px solid #EBEEF5;
}

.btn-block {
  width: 100%;
  font-weight: bold !important;
  text-transform: uppercase;
}

// page transitions
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}

.fit-page-body {
  width: fit-page-body;
}

.text-request {
  line-height: 1.2rem;
  letter-spacing: 0.4px;
}

.d-flex {
  display: flex;
}

// dialog
.dialog-responsive .el-dialog {
  @media (max-width: 992px) {
    width: calc(75% - 1rem);
  }

  @media (max-width: 768px) {
    width: calc(100% - 1rem);
  }
}

// satelitals images
.satelital-metadata {
  height: 180px;
  overflow-y: scroll
}

.satelital-image-preview {
  height: 210px;
}