.app-toast-container {
  font-family: 'Roboto'
}
.toasted-container.top-right {
  top: 0% !important;
  right: 1.29rem !important;
}

.app-toastt {
  &.success {
    background: var(--color-success) !important;
  }

  &.info {
    background: var(--color-info) !important;
  }

  &.error {
    background: var(--color-danger) !important;
  }

  a.v-btn {
    color: white !important;
    text-decoration: none !important;
  }
}
