html {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}

label {
  font-weight: bolder;
}
.col-center {
  margin: 0 auto;
  margin-top: 2.5rem;
  float: none;
}
.mt-3 {
  margin-top: 1rem;
}
.mb-0 {
  margin-bottom: 0px;
}
.ma-0{
  margin: 0px;
}

.border-right {
  border-right: 1px solid #e6e6e6;
}

.height-100 {
  height: 100%;
}

.font-weight-bold {
  font-weight: bolder;
}

/* contenedor de botones  */
.content-center {
  padding: 1.2rem 0px;
  display: flex;
  justify-content: center;
}
.btn {
  margin: 0px 0.2rem;
}
