// .el-footer {
//   border-top: solid 1px #e6e6e6;
//   position: absolute;
//   background-color: #fafafa;
//   color: #333;
//   text-align: center;
//   line-height: 32px;
//   bottom: 0;
//   width: 100%;
// }

.el-aside {
  height: 100vh !important;
  overflow: hidden;
  &__adjust-width {
    max-width: -moz-fit-content;
    max-width: -webkit-fit-content;
  }
}

.el-main {
  // background: #c31432;  /* fallback for old browsers */
  background: linear-gradient(to right, rgb(195, 20, 50), rgb(36, 11, 54));
// background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.el-header {
  padding: 0px 0px;
}

.adjust-popper {
  .el-menu--popup {
    min-width: 100px;
    max-width: -moz-fit-content;
    max-width: -webkit-fit-content;
  }
}

// card
.el-card__header {
  padding: 15px 20px !important;
}