
.theme-purple-pink {
  background: #64001D;
}

.adjust-popper {
  .el-menu--popup {
    min-width: 100px;
    max-width: -moz-fit-content;
    max-width: -webkit-fit-content;
  }
}

// card
.el-card__header {
  padding: 15px 20px !important;
}

.hover-remove {
  .el-menu-item:hover {
    background: transparent !important;
  }
}

.el-menu.el-menu--horizontal {
  border: none !important;
}

.mark {
  padding: 0px !important;
  background-color:  transparent !important;
}

button:focus {
  outline: 0px !important;
}