.text-mayus {
  text-transform: uppercase;
}
// navbar
.bg-dark{
  background-color: transparent !important;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;

  li a{
    color: #fff !important;
    font-size: 15px !important;
    line-height: 30px !important;
    padding: 10px 20px!important;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
  }
}

.opaque {
  background-color: rgba(34,34,34, 0.95)!important;
  padding: 10px 0;
  transition: all 1s ease-in-out 0s;
}

.bg-black{
  height: 100vh;
}

.bg-mobile{
  background-color: #000000c9 !important;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}
// home
#home {
  height: 95vh;
  width: 100%;
  background: url(http://demo.epic-webdesign.com/tf-epic-launch/v4/images/luna-heroimage.jpg)
    top center no-repeat;
  background-size: cover;
  padding: 180px 0;
  position: relative;

  &:before {
    content: '';
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
    left: 0;
  // background: linear-gradient(to right, rgb(195, 20, 50), rgb(36, 11, 54));
  background: #412383;
    opacity: 0.6;
  }
}
.jumbotron {
  background-color: transparent;
  color: white;
  position: relative;
}

.title-link {
  color: $color-text;
}
.title-link-invert {
  color: #8d909a;
}

  .text-16 {
    font-size: 1.15rem;
    line-height: 24px;
    color: #8d909a;
  }
  .text-14 {
    font-size: 1rem;
    line-height: 20px;
    color: #8d909a;
  }
// about
.mh-90 {
  min-height: 90px;
}
